root = true

[*.sh]
indent_style = space
indent_size = 4
switch_case_indent = true
binary_next_line = true
simplify = true

[.bashrc]
indent_style = space
indent_size = 4
switch_case_indent = true
binary_next_line = true
simplify = true

[.bash_profile]
indent_style = space
indent_size = 4
switch_case_indent = true
binary_next_line = true
simplify = true
