# Ignore everything
*
!.gitignore

# Un-ignore folders and files
!.github/
!.github/**

!Pictures/
!Pictures/Wallpapers/
!Pictures/Wallpapers/**

!.bashrc


!.config/

!.config/nvim/
!.config/nvim/lua/
!.config/nvim/lua/**
!.config/nvim/init.lua
!.config/nvim/after/
!.config/nvim/after/lsp/
!.config/nvim/after/lsp/**

!.config/zathura/
!.config/zathura/**

!.config/mako/
!.config/mako/**

!.config/opencode/
!.config/opencode/opencode.jsonc

!.config/hypr/
!.config/hypr/hyprland.lua
!.config/hypr/autostart.lua
!.config/hypr/input.lua
!.config/hypr/style.lua
!.config/hypr/windowrules.lua
!.config/hypr/keybinds.lua
!.config/hypr/hypridle.conf
!.config/hypr/hyprlock.conf
!.config/hypr/hyprpaper.conf
!.config/hypr/hyprsunset.conf

!.config/systemd/
!.config/systemd/user/
!.config/systemd/user/ollama.service

!.config/uwsm/
!.config/uwsm/**

!.config/scripts/
!.config/scripts/**

!.config/tmux/
!.config/tmux/**

!.config/rofi/
!.config/rofi/**

!.config/alacritty/
!.config/alacritty/**

!.config/yazi/
!.config/yazi/yazi.toml
!.config/yazi/keymap.toml

!.config/waybar/
!.config/waybar/**
